.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 2em;
    width: 2em;

    transition: .3s ease-in-out all;
}

.hamburger.active {
    transform: rotate(-45deg);
}

.hamburger .bun, .hamburger .patty {
    background-color: black;
    width: 100%;
    height: 20%;
    border-radius: 0.65em;

    transition: .3s ease-in-out all;
}

.hamburger.active .bun.top {
    height: 38%;
    width: 20%;
    margin-left: 40%;
    border-radius: 0.65em 0.65em 0 0;
}

.hamburger.active .bun.bottom {
    height: 38%;
    width: 20%;
    margin-left: 40%;
    border-radius: 0 0 0.65em 0.65em;
}

/* */

.navigation-sidebar {
    background-color: #a6ba4b;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2em;
    padding-top: 6em;
    width: 75vw;
    color: var(--text-color);
    transform: translateX(-100%);
    transition: .3s ease-in-out all;
    display: none;
}

.navigation-sidebar.active {
    transform: translateX(0%);
}

.navigation-sidebar nav ul {
    flex-direction: column;
}

.navigation-overlay {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.347);
}

/* */

@media (max-width: 550px) {
    header>nav {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .navigation-sidebar {
        display: block;
    }
    
    .navigation-overlay {
        display: block;
    }

    header {
        flex-direction: row;
    }
}
