@font-face {
    font-family: 'BelgiumCatherine';
    src: url('../fonts/BelgiumCatherine.ttf') format('truetype'),
         url('../fonts/BelgiumCatherine.otf') format('opentype');
}
.matcha-font {
    font-family: 'BelgiumCatherine', sans-serif;
    font-weight: normal;
}
.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.header-underline {
    display: inline-block;
    border-bottom: 1px solid rgb(58, 58, 58);
    margin-bottom: 2em;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    z-index: 2;
    padding: 2em;
}
nav ul {
    display: flex;
}
nav ul li {
    margin: 1.5em;
    letter-spacing: 5px;
}
.logo img {
    height: 6em;
    width: 8em;
}
.background-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.background-container::before,
.background-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.background-container::before {
    background: url('../assets/matchacake.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
}
.background-container::after {
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(255, 255, 255, 1));
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    padding: 20px;
    margin-top: 6em;
    margin-bottom: 5em;
}
.header-image{
    height: 10em;
    width: 100%;
}
.visit-us{
    display: flex;
    width: 100%;
    align-items: center;
}
.visit-us-text{
    margin-left: 2em;
    padding: 4em;
    width: 50%
}
.visit-us-text h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 26px;
}
.visit-us-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.matcha-cup{
    max-width: 34em;
    margin-right: 2em;
}
.icon-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.icon-grid .col-one .col-two {
    display: flex;
    flex: 1;
}
.col-one p, .col-two p {
    margin: 2.5em;
}
.locally-sourced, .vegan-options, .organic {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #F2D9DB;
    background-image: url(../assets/pinkbannerdesign.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 6em;
    margin-top: 5em;
    margin-bottom: 8em;
}
.menu-bar-font {
    color: #A6BA4C;
    font-size: 100px;
}
.menu-button {
    background-color: #262626;
    border-radius: 6px;
    padding: 1em 6em;
    color: white;
    letter-spacing: 3px;
}
.image-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #262626;
    padding: 2em;
    margin-bottom: 8em;
}
.image-gallery img {
    aspect-ratio: 1;
    object-fit: cover;
    max-width: 18em;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: .5px solid #acabab;
    margin: 0 2em;
    padding: 1em;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3;
}
.footer-map {
    max-width: 50%;
}

@media (max-width: 855px) {
        .visit-us{
            flex-direction: column;
        }
        .matcha-cup {
            margin: 0;
        }
    }

@media (max-width: 620px) {
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .matcha-cup {
        margin: 0;
        max-width: 20em;
    }
    .icon-grid {
        flex-wrap: wrap;
    }
    .col-one, .col-two {
        align-items: flex-end;
    }
}


@media (max-width: 430px) {
    .image-gallery img {
        max-width: 12em;
    }
    .footer-map {
        max-width: max-content;
    }
}
